@use './mixins.scss' as *;

.widget-wrapper {
  padding: 10px 24px;
  margin: 0;
  position: relative;
  user-select: none;
  outline: 1px dashed var(--color-border-3);

  &.is-selected {
    outline: 2px solid rgb(var(--primary-6));
  }
  .icon-action {
    position: absolute;

    &.button-tl {
      top: 0;
      left: 0;
    }
    &.button-br {
      bottom: 0;
      right: 0;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &:not(.is-selected):hover {
    background-color: var(--color-primary-light-1);
    outline-color: rgb(var(--primary-6));
  }

  & + & {
    margin-top: 4px;
  }
}

.widget-wrapper-grid {
  .grid-col {
    min-height: 36px;
    border: 1px dashed var(--color-border-4);
  }
}

.canvas {
  & > .arco-form {
    flex-grow: 1;

    & > .draggable-area {
      flex-grow: 1;
    }
  }
}

.config-panel {
  .form {
    .boolean-config-field {
      @include flex-center-v;
      justify-content: space-between;
    
      & + .boolean-config-field {
        margin-top: 16px;
      }
    }

    .label {
      display: block;
      font-size: 14px;
      color: var(--color-text-2);
      line-height: 1.5715;
    }
  }
}

.codemirror-editor {
  display: block !important;
  outline: none !important;

  .cm-focused {
    outline: none;
  }
}
