@use './mixins.scss' as *;

.widget-wrapper {
  padding: 10px 24px;
  margin: 0;
  position: relative;
  user-select: none;
  outline: 1px dashed var(--color-border-3);
  background-color: #fff;
  
  &:not(:last-child) {
    margin-bottom: 4px;
  }

  .widget-uid-caption {
    position: absolute;
    font-size: 12px;
    color: rgb(var(--primary-6));
    right: 8px;
    top: 4px;
    opacity: 0.5;
  }

  &.is-selected {
    outline: 2px solid rgb(var(--primary-6));
    z-index: 2;
    .widget-uid-caption {
      opacity: 1;
    }
  }
  .arco-form-item-wrapper-col {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
  }
  &:not(.is-selected):hover {
    z-index: 1;
    background-color: var(--color-primary-light-1);
    outline-color: rgb(var(--primary-6));
  }
}

.widget-renderer {
  .is-selected {
    .widget-uid-caption {
      opacity: 1;
    }
  }
}

.icon-action {
  position: absolute;
  z-index: 50 !important;

  &.button-tl {
    top: 0;
    left: 0;
  }
  &.button-br {
    bottom: 0;
    right: 0;
  }
}

.widget-wrapper-grid {
  padding-left: 16px;
  padding-right: 16px;
  @include mx-0;
  .grid-col {
    min-height: 36px;
    .draggable-area {
      min-height: 36px;
      background-color: rgb(var(--success-1));
      height: 100%;
      width: 100%;
    }
  }

  .widget-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.widget-wrapper-tab {
  padding-left: 16px;
  padding-right: 16px;
  .widget-wrapper {
    padding-left: 8px;
    padding-right: 8px;
  }
  .draggable-area {
    min-height: 36px;
    background-color: rgb(var(--success-1));
    height: 100%;
    width: 100%;
  }
  .arco-tabs-pane {
    padding: 2px;
  }
}

.canvas-wrapper {
  .arco-form {
    flex-grow: 1;

  .draggable-area {
      flex-grow: 1;
    }
  }
}

.config-panel {
  .form {
    .boolean-config-field {
      @include flex-center-v;
      justify-content: space-between;
    
      & + .boolean-config-field {
        margin-top: 16px;
      }
    }

    .label {
      display: block;
      font-size: 14px;
      color: var(--color-text-2);
      line-height: 1.5715;
    }
  }
}

.codemirror-editor {
  display: block !important;
  outline: none !important;

  .cm-focused {
    outline: none;
  }
}
