@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-v {
  display: flex;
  align-items: center;
}

@mixin flex-center-h {
  display: flex;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin rounded-left($r) {
  border-top-left-radius: $r;
  border-bottom-left-radius: $r;
}

@mixin rounded-right($r) {
  border-top-right-radius: $r;
  border-bottom-right-radius: $r;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

@mixin px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
